[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
psycopg = "*"
psycopg-pool = "*"

[dev-packages]
pylint-flask = "*"
faker = "*"

[requires]
python_version = "3.11"
