{% extends "base.html" %}

{% block head %}
<title>Host | {{ message.get("host_user").get("name") }}</title>
<link href={{ url_for('static', filename='css/user_profile.css' )}} rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container rounded bg-tertiary mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            {%if not message.host_user.get("picture_url")%}
                {% set picture_url =
                "https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" %}
            {% else %}
            {% set picture_url = message.host_user.picture_url%}
            {% endif %}
            <img class="rounded-circle mt-5"
                    width="150px"
                    src={{ picture_url }}>
                    <span class="font-weight-bold">{{ message.host_user.get("name") }}</span>
                    <span class="text-black-50">{{ message.host_user.get("email") }}</span>
                    <span></span>
            </div>
        </div>

        {% set update_link = "/hosts/" + message.get("host").get("id")|string + "/profile"%}
        <div class="col-md-9 border-right">
        <form action="{{ update_link }}" method="POST">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-center">Profile Settings</h4>
                </div>
                {% if message.get("error") %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message.error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="labels">Name</label>
                        <input disabled type="text" name="name" id="name" class="form-control" placeholder='{{ message.host_user.name }}' value='{{ message.host_user.name }}'>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Location</label>
                        <input type="text" name="location" id="location" class="form-control"
                            placeholder='{{ message.host.get("location") }}' value='{{ message.host.location }}'>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Location: Neighbourhood</label>
                        <input type="text" name="neighbourhood" id="neighbourhood" class="form-control"
                            placeholder='{{ message.host.get("neighbourhood") }}' value='{{ message.host.neighbourhood }}'>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">About</label>
                        <textarea name="about" id="about" class="form-control"style="height: 250px;">{{ message.host.get("about") }}</textarea>
                    </div>
                </div>
            <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
            </div>
            </div>
        </form>
        </div>
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Bookings</h4>
        </div>
        <div class="col-md-12">
            {% if message.get("bookings") and message.bookings|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Check In</th>
                        <th scope="col">Check Out</th>
                        <th scope="col">Listing</th>
                        <th scope="col">Price</th>
                        <th scop="col">Status</th>
                    </tr>
                </thead>
                <tbody>
            {% for booking in message.bookings%}
                    <tr>
                        <th scope="col">{{booking.get("id")}}</th>
                        <td>{{booking.get("start_date")}}</td>
                        <td>{{booking.get("end_date")}}</td>
                        <td><a href="/listings/{{booking.get('listing_id')}}">{% set name = booking.get("name").split("·")[0] %}{{name}}</a></td>
                        <td>
                            ${{booking.get("cost")}}
                        </td>
                        <td>
                            {% if booking.get("status") == "pending" %}
                            {% set update_link = "/booking/" + booking.get("id")|string %}
                                <button class="btn btn-success" type="button"  value="{{ booking.get("id") }}" data-bs-toggle="collapse" id="status-button-approved">
                                    Approve Booking
                                </button>

                                <button class="btn btn-primary" type="button" value="{{ booking.get("id") }}" data-bs-toggle="collapse" id="status-button-rejected">
                                    Reject Booking
                                </button>
                            {% else %}
                            {{booking.get("status")}}
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h5>No bookings yet!</h5>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        window.addEventListener('load', () => {
            const about = document.getElementById("about");
            about.value = `{{ message.host.about }}`;
            const location = document.getElementById("location");
            location.value = `{{ message.host.location }}`;
            const neighbourhood = document.getElementById("neighbourhood");
            neighbourhood.value = `{{ message.host.neighbourhood }}`;
        })
        const confirmButton = document.getElementById("status-button-approved");
        const rejectButton = document.getElementById("status-button-rejected");

        confirmButton.addEventListener("click", function(e) {
            const bookingId = e.target.value;
            const x = fetch(`/booking/${bookingId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "PATCH",
                body: JSON.stringify({
                    status: "approved"
                })
            }).then(res => window.location.reload());
        });
        rejectButton.addEventListener("click", function(e) {
            const bookingId = e.target.value;
            fetch(`/booking/${bookingId}`, {
                method: "PATCH",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    status: "rejected"
                })
            }).then(res => window.location.reload());
        });
    </script>
{% endblock scripts %}
